name: test262-integration

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run-test262-subset:
    strategy:
      fail-fast: false
      matrix:
        include:
          - id: 1
          - id: 2
          - id: 3
          - id: 4
          - id: 5
          - id: 6
          - id: 7
          - id: 8
          - id: 9
          - id: 10
          - id: 11
          - id: 12
          - id: 13
          - id: 14
          - id: 15
          - id: 16
          - id: 17
          - id: 18
          - id: 19
          - id: 20
          - id: 21
          - id: 22
          - id: 23
          - id: 24
          - id: 25
          - id: 26
          - id: 27
          - id: 28
          - id: 29
          - id: 30
          - id: 31
          - id: 32
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build JavaScript engine
        run: |
          cargo build --all-features --release --package js

      - name: Run test262 subset ${{ matrix.id }}
        if: ${{ !cancelled() }}
        env:
          FAIL_ON_FAILURE: 'true'
        run: |
          set -euo pipefail

          FOCUS=""
          TIMEOUT=""
          TITLE=""

          case "${{ matrix.id }}" in
            1)
              TITLE='"language/arguments-object" - "language/export"'
              FOCUS='language/arguments-object,language/asi,language/block-scope,language/comments,language/computed-property-names,language/destructuring,language/directive-prologue,language/eval-code,language/export'
              TIMEOUT='120'
              ;;
            2)
              TITLE='"language/expressions/addition" - "language/expressions/assignment"'
              FOCUS='language/expressions/addition,language/expressions/array,language/expressions/arrow-function,language/expressions/assignment'
              ;;
            3)
              TITLE='"language/expressions/assignmenttargettype" - "language/expressions/await"'
              FOCUS='language/expressions/assignmenttargettype,language/expressions/async-arrow-function,language/expressions/async-function,language/expressions/async-generator,language/expressions/await'
              ;;
            4)
              TITLE='"language/expressions/bitwise-and" - "language/expressions/call"'
              FOCUS='language/expressions/bitwise-and,language/expressions/bitwise-not,language/expressions/bitwise-or,language/expressions/bitwise-xor,language/expressions/call'
              ;;
            5)
              TITLE='"language/expressions/class/accessor-name-inst" - "language/expressions/class/decorator"'
              FOCUS='language/expressions/class/accessor-name-inst,language/expressions/class/accessor-name-static,language/expressions/class/async-gen-method,language/expressions/class/async-gen-method-static,language/expressions/class/async-method,language/expressions/class/async-method-static,language/expressions/class/decorator'
              ;;
            6)
              TITLE='"language/expressions/class/dstr"'
              FOCUS='language/expressions/class/dstr'
              ;;
            7)
              TITLE='"language/expressions/class/elements"'
              FOCUS='language/expressions/class/elements'
              ;;
            8)
              TITLE='"language/expressions/class/gen-method" - "language/expressions/class/(filesonly)"'
              FOCUS='language/expressions/class/gen-method,language/expressions/class/gen-method-static,language/expressions/class/method,language/expressions/class/method-static,language/expressions/class/subclass-builtins,language/expressions/class/(filesonly)'
              ;;
            9)
              TITLE='"language/expressions/coalesce" - "language/expressions/does-not-equals"'
              FOCUS='language/expressions/coalesce,language/expressions/comma,language/expressions/compound-assignment,language/expressions/concatenation,language/expressions/conditional,language/expressions/delete,language/expressions/division,language/expressions/does-not-equals'
              ;;
            10)
              TITLE='"dynamic-import,module-code,import,eval-code,export"'
              FOCUS='language/expressions/dynamic-import,language/module-code,language/import,language/eval-code,language/export'
              ;;
            11)
              TITLE='"language/expressions/equals" - "language/expressions/generators"'
              FOCUS='language/expressions/equals,language/expressions/exponentiation,language/expressions/function,language/expressions/generators'
              ;;
            12)
              TITLE='"language/expressions/greater-than" - "language/expressions/void"'
              FOCUS='language/expressions/greater-than,language/expressions/greater-than-or-equal,language/expressions/less-than,language/expressions/less-than-or-equal,language/expressions/logical-and,language/expressions/logical-assignment,language/expressions/logical-not,language/expressions/logical-or,language/expressions/void'
              ;;
            13)
              TITLE='"language/expressions/grouping" - "language/expressions/prefix-increment"'
              FOCUS='language/expressions/grouping,language/expressions/import.meta,language/expressions/in,language/expressions/instanceof,language/expressions/left-shift,language/expressions/right-shift,language/expressions/optional-chaining,language/expressions/member-expression,language/expressions/modulus,language/expressions/multiplication,language/expressions/new,language/expressions/new.target,language/expressions/postfix-decrement,language/expressions/postfix-increment,language/expressions/prefix-decrement,language/expressions/prefix-increment'
              ;;
            14)
              TITLE='"language/expressions/object"'
              FOCUS='language/expressions/object'
              ;;
            15)
              TITLE='"language/expressions/property-accessors" - "language/expressions/yield"'
              FOCUS='language/expressions/property-accessors,language/expressions/relational,language/expressions/strict-does-not-equals,language/expressions/strict-equals,language/expressions/subtraction,language/expressions/super,language/expressions/tagged-template,language/expressions/template-literal,language/expressions/this,language/expressions/typeof,language/expressions/unary-minus,language/expressions/unary-plus,language/expressions/unsigned-right-shift,language/expressions/yield,language/expressions/(filesonly)'
              ;;
            16)
              TITLE='"language/function-code" - "language/import"'
              FOCUS='language/function-code,language/future-reserved-words,language/global-code,language/identifier-resolution,language/identifiers,language/import'
              ;;
            17)
              TITLE='"language/literals"'
              FOCUS='language/literals'
              TIMEOUT='200'
              ;;
            18)
              TITLE='"language/keywords" - "language/white-space"'
              FOCUS='language/keywords,language/line-terminators,language/module-code,language/punctuators,language/reserved-words,language/rest-parameters,language/source-text,language/statementList,language/types,language/white-space'
              ;;
            19)
              TITLE='"language/statements/async-function" - "language/statements/for"'
              FOCUS='language/statements/async-function,language/statements/async-generator,language/statements/await-using,language/statements/block,language/statements/break,language/statements/const,language/statements/continue,language/statements/debugger,language/statements/do-while,language/statements/empty,language/statements/expression,language/statements/for'
              ;;
            20)
              TITLE='"language/statements/for-await-of"'
              FOCUS='language/statements/for-await-of'
              ;;
            21)
              TITLE='"language/statements/for-in" - "language/statements/function"'
              FOCUS='language/statements/for-in,language/statements/for-of,language/statements/function'
              ;;
            22)
              TITLE='"language/statements/generators" - "language/statements/with"'
              FOCUS='language/statements/generators,language/statements/if,language/statements/labeled,language/statements/let,language/statements/return,language/statements/switch,language/statements/throw,language/statements/try,language/statements/using,language/statements/variable,language/statements/while,language/statements/with'
              ;;
            23)
              TITLE='"language/statements/class/accessor-name-inst" - "language/statements/class/definition"'
              FOCUS='language/statements/class/accessor-name-inst,language/statements/class/accessor-name-static,language/statements/class/arguments,language/statements/class/async-gen-method,language/statements/class/async-gen-method-static,language/statements/class/async-method,language/statements/class/async-method-static,language/statements/class/decorator,language/statements/class/definition'
              ;;
            24)
              TITLE='"language/statements/class/dstr"'
              FOCUS='language/statements/class/dstr'
              ;;
            25)
              TITLE='"language/statements/class/elements"'
              FOCUS='language/statements/class/elements'
              ;;
            26)
              TITLE='"language/statements/class/gen-method" - "language/statements/class/(filesonly)"'
              FOCUS='language/statements/class/gen-method,language/statements/class/gen-method-static,language/statements/class/method,language/statements/class/method-static,language/statements/class/name-binding,language/statements/class/strict-mode,language/statements/class/subclass,language/statements/class/subclass-builtins,language/statements/class/super,language/statements/class/syntax,"language/statements/class/(filesonly)"'
              ;;
            27)
              TITLE='"built-ins/Array"'
              FOCUS='built-ins/Array'
              ;;
            28)
              TITLE='"built-ins/Object"'
              FOCUS='built-ins/Object'
              ;;
            29)
              TITLE='"built-ins/AbstractModuleSource" - "built-ins/Boolean"'
              FOCUS='built-ins/AbstractModuleSource,built-ins/AggregateError,built-ins/ArrayBuffer,built-ins/ArrayIteratorPrototype,built-ins/AsyncDisposableStack,built-ins/AsyncFromSyncIteratorPrototype,built-ins/AsyncFunction,built-ins/AsyncGeneratorFunction,built-ins/AsyncGeneratorPrototype,built-ins/AsyncIteratorPrototype,built-ins/Atomics,built-ins/BigInt,built-ins/Boolean'
              ;;
            30)
              TITLE='"built-ins/DataView" - "built-ins/TypedArray"'
              FOCUS='built-ins/DataView,built-ins/TypedArray'
              TIMEOUT='200'
              ;;
            31)
              TITLE='"built-ins/Date" - "built-ins/encodeURIComponent"'
              FOCUS='built-ins/Date,built-ins/decodeURI,built-ins/decodeURIComponent,built-ins/encodeURI,built-ins/encodeURIComponent'
              ;;
            32)
              TITLE='"built-ins/DisposableStack" - "built-ins/GeneratorPrototype"'
              FOCUS='built-ins/DisposableStack,built-ins/Error,built-ins/eval,built-ins/FinalizationRegistry,built-ins/Function,built-ins/GeneratorFunction,built-ins/GeneratorPrototype'
              ;;
            *)
              echo "Unknown subset id: ${{ matrix.id }}" >&2
              exit 1
              ;;
          esac

          echo "Running subset ${{ matrix.id }}: $TITLE"
          if [ -n "$TIMEOUT" ]; then
            node ci/runner.js --limit 10000 --focus "$FOCUS" --timeout "$TIMEOUT"
          else
            node ci/runner.js --limit 10000 --focus "$FOCUS"
          fi

      - name: Upload results
        if: ${{ always() && !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test262-results-${{ matrix.id }}
          path: test262-results.log

  summarize-test262-results:
    if: ${{ always() }}
    needs: [run-test262-subset]
    runs-on: ubuntu-latest
    steps:
      - name: Download all subset artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: test262-results-*
          path: test262-artifacts
          merge-multiple: false

      - name: Summarize pass/fail/skip totals
        shell: bash
        run: |
          set -euo pipefail

          pass_total=0
          fail_total=0
          skip_total=0
          logs_found=0
          unsupported_features_file=$(mktemp)

          while IFS= read -r -d '' log_file; do
            logs_found=$((logs_found + 1))

            grep -Eo 'SKIP \(feature unsupported: [^)]+\)' "$log_file" \
              | sed -E 's/^SKIP \(feature unsupported: (.+)\)$/\1/' \
              >> "$unsupported_features_file" || true

            summary_line=$(grep -E "Ran [0-9]+ candidates: pass=[0-9]+ fail=[0-9]+ skip=[0-9]+" "$log_file" | tail -n1 || true)
            if [ -z "$summary_line" ]; then
              continue
            fi

            pass=$(echo "$summary_line" | sed -E 's/.*pass=([0-9]+).*/\1/')
            fail=$(echo "$summary_line" | sed -E 's/.*fail=([0-9]+).*/\1/')
            skip=$(echo "$summary_line" | sed -E 's/.*skip=([0-9]+).*/\1/')

            pass_total=$((pass_total + pass))
            fail_total=$((fail_total + fail))
            skip_total=$((skip_total + skip))
          done < <(find test262-artifacts -type f -name 'test262-results.log' -print0)

          total_cases=$((pass_total + fail_total + skip_total))
          unsupported_features=$(sort -u "$unsupported_features_file" | sed '/^$/d' || true)
          unsupported_features_ranked=$(sed '/^$/d' "$unsupported_features_file" | sort | uniq -c | sort -nr || true)

          unsupported_features_count=0
          if [ -n "$unsupported_features" ]; then
            unsupported_features_count=$(printf '%s\n' "$unsupported_features" | wc -l | tr -d ' ')
          fi

          {
            echo "## Test262 Summary"
            echo
            echo "- Artifacts parsed: $logs_found"
            echo "- Total cases: $total_cases"
            echo "- Pass: $pass_total"
            echo "- Fail: $fail_total"
            echo "- Skip: $skip_total"
            echo "- Unsupported features detected: $unsupported_features_count"

            if [ "$unsupported_features_count" -gt 0 ]; then
              echo
              echo "### Unsupported features by occurrence"
              while IFS= read -r row; do
                [ -n "$row" ] || continue
                count=$(echo "$row" | awk '{print $1}')
                feat=$(echo "$row" | sed -E 's/^ *[0-9]+ +//')
                echo "- $feat ($count)"
              done <<< "$unsupported_features_ranked"
            fi
          } >> "$GITHUB_STEP_SUMMARY"

          echo "Test262 Summary"
          echo "- Artifacts parsed: $logs_found"
          echo "- Total cases: $total_cases"
          echo "- Pass: $pass_total"
          echo "- Fail: $fail_total"
          echo "- Skip: $skip_total"
          echo "- Unsupported features detected: $unsupported_features_count"

          if [ "$unsupported_features_count" -gt 0 ]; then
            echo "Unsupported features by occurrence:"
            while IFS= read -r row; do
              [ -n "$row" ] || continue
              count=$(echo "$row" | awk '{print $1}')
              feat=$(echo "$row" | sed -E 's/^ *[0-9]+ +//')
              echo "- $feat ($count)"
            done <<< "$unsupported_features_ranked"

            echo "Unsupported features:"
            while IFS= read -r feat; do
              [ -n "$feat" ] && echo "- $feat"
            done <<< "$unsupported_features"
          fi

