name: test262-integration

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  run-test262-subset-1:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build JavaScript engine
        run: |
          cargo build --all-features --example js

      - name: Run a small test262 subset - "language/arguments-object" - "language/export"
        if: ${{ !cancelled() }}
        env:
          FAIL_ON_FAILURE: 'true'
        run: |
          node ci/runner.js --limit 1000 --focus language/arguments-object,language/asi,language/block-scope,language/comments,language/computed-property-names,language/destructuring,language/directive-prologue,language/eval-code,language/export

      - name: Upload results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test262-results-1
          path: test262-results.log

  run-test262-subset-2:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build JavaScript engine
        run: |
          cargo build --all-features --example js

      - name: Run a small test262 subset - "language/expressions/addition" - "language/expressions/assignment"
        if: ${{ !cancelled() }}
        env:
          FAIL_ON_FAILURE: 'true'
        run: |
          node ci/runner.js --limit 1000 --focus language/expressions/addition,language/expressions/array,language/expressions/arrow-function,language/expressions/assignment

      - name: Upload results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test262-results-2
          path: test262-results.log

  run-test262-subset-3:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build JavaScript engine
        run: |
          cargo build --all-features --example js

      - name: Run a small test262 subset - "language/expressions/assignmenttargettype" - "language/expressions/await"
        if: ${{ !cancelled() }}
        env:
          FAIL_ON_FAILURE: 'true'
        run: |
          node ci/runner.js --limit 1000 --focus language/expressions/assignmenttargettype,language/expressions/async-arrow-function,language/expressions/async-function,language/expressions/async-generator,language/expressions/await

      - name: Upload results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test262-results-3
          path: test262-results.log

  run-test262-subset-4:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build JavaScript engine
        run: |
          cargo build --all-features --example js

      - name: Run a small test262 subset - "language/expressions/bitwise-and" - "language/expressions/call"
        if: ${{ !cancelled() }}
        env:
          FAIL_ON_FAILURE: 'true'
        run: |
          node ci/runner.js --limit 1000 --focus language/expressions/bitwise-and,language/expressions/bitwise-not,language/expressions/bitwise-or,language/expressions/bitwise-xor,language/expressions/call

      - name: Upload results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test262-results-4
          path: test262-results.log

  run-test262-subset-5:
    strategy:
      fail-fast: false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy, rustfmt

      - name: Install prerequisites
        run: |
          sudo apt-get update
          sudo apt-get install -y git

      - name: Build JavaScript engine
        run: |
          cargo build --all-features --example js

      - name: Run a small test262 subset - "language/expressions/class/accessor-name-inst" - "language/expressions/class/async-gen-method-static"
        if: ${{ !cancelled() }}
        env:
          FAIL_ON_FAILURE: 'true'
        run: |
          node ci/runner.js --limit 10000 --focus language/expressions/class/accessor-name-inst,language/expressions/class/accessor-name-static,language/expressions/class/async-gen-method,language/expressions/class/async-gen-method-static

      - name: Upload results
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@v4
        with:
          name: test262-results-5
          path: test262-results.log
